body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    /*background-color: #262424;*/
    color: #c8bfb9;
    overflow-x:hidden;
}

h2 {
    color: white;
}

a:link {
    color: #c8bfb9;
}
a:visited {
    color: #999999;
}
a:hover {
    color: #FF3300;
}

header {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.6);
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

header p {
    padding: 0 20px;
    padding-right: 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    /*background-image: url('plaid.png');*/
    background-color: #5BC8AC;
    background-size: cover;
    color: #ffffff;
    height: 300px;
    margin-bottom:0;
}

.jumbotron h1 {
    color: #fff;
    font-size: 68px;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: bold;
}

.jumbotron h2 {
    color: #fff;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: bold;
}

.jumbotron h3 {
    margin: 0 0 20px;
    font-family: 'Architects Daughter', sans-serif;
    color: #fff;
}

.jumbotron .container {
    background: rgba(0, 0, 0, 0);
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.container {
    background: rgba(0, 0, 0, 0.6);

    padding: 20px 20px 20px 20px;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #F18D9E;
    text-shadow: none;
    background-color: #ffffff;
    outline: none !important;
}

.btn.btn-primary:active:focus,
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #F18D9E;
    outline: none !important;
}



.btn-secondary {
    background-color: #F18D9E;
    color: #ffffff !important;
}

.btn-secondary:active:focus,
.btn-secondary:hover {
    background-color: #ffffff !important;
    color: #F18D9E !important;
}

footer {
    font-size: 12px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.6);
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}

/* Styling for social icons */
i.fa {
    padding: 0 8px;
    color: #FFF;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
i.fa:hover {
    color: #00C5DB;
}

.card {
    padding: 5px; /* padding border inside cards */
}

.card-title {
    color: #5BC8AC;
    padding-left: 10px;
    padding-left: 10px;
}

.card-subtitle {
    padding-left: 10px;
    padding-left: 10px;
}

.card-text {
    color: #2A3132;
    padding-left: 10px;
    padding-left: 10px;
}

.project {
    margin: 10px; /* Spacing between cards */
}

.project .card {
    margin: 10px;
    width: 20rem;
    height: 100%; /* Make all cards the same height */
}

.card-img-top { /* Sizing for card images */
    height: 20em;
    width: 20em;
}

.card-deck .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    background-color: white;
    border: none;
}

#nav {
    margin-right: 50px;
}

.pic {
    max-width: 100%;
    margin-top: 20px;
}

.figure-caption {
    color: #ffffff;
    margin: 0;
}
